.logo {
    font-family: 'Chewy'; 
    font-size: 50px; 
    color: green;
    margin-bottom: 40px;
}

.form-btn {
    width: 90%;
    height: 45px;
    max-width: 400px;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Lato';
    margin-left: auto;
    margin-right: auto;
}